
<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>;
  </script>
<% end %>

<main id="root">React is not working</main>

<script type="text/javascript">
  window.spotifyLogoURL = "<%= image_url('spotify_logo.png') %>";
  window.whiteLogoURL = "<%= image_url('spotify_logo_white.png') %>";
  window.placeholderImg = "<%= image_url('placeholder.png') %>";
  window.likedSongsImg = "<%= image_url('liked_songs.png') %>";
  window.playingGif = "<%= image_url('playing.gif') %>";
  window.aagamPic = "<%= image_url('aagamPic.png') %>";
</script>

