<!DOCTYPE html>
<html>
  <head>
    <title>Stopify</title>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/7641a88450.js" crossorigin="anonymous"></script>
  
  <meta property="og:title" content="Stopify" />
     <meta property='og:image' content="<%= image_url('spotify_logo.png') %>"/>
     <meta property="og:description"
       content="Stopify is a Spotify clone built using React and Ruby on Rails"
  />
  
  <meta property="og:url"
    content="http://stopify-100.herokuapp.com/#/"
  />
  
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
